@import url('common.less');
@height_header: 60px;
@width_logo: 180px;
@bg_color_front: #fff;
@bg_color_background: #409eff;
@bg_color_background_highlight: #3077bf;
@bg_color_background_safe: #70b6ff;
.full-width {
  width: 100%;
}

.luckystarry-ui-container {
  position: relative;
  height: 100%;
  .luckystarry-ui-header {
    background-color: @bg_color_background;
    color: @bg_color_front;
    .logo-span {
      position: absolute;
      height: @height_header;
      line-height: @height_header;
      width: @width_logo;
      h4 {
        display: inline-block;
        margin: 0;
      }
      & > * {
        vertical-align: middle;
      }
    }
    .section-menus {
      padding-left: @width_logo;
      ul.el-menu {
        background-color: @bg_color_background;
        li.el-menu-item {
          color: @bg_color_front;
          i {
            color: @bg_color_front;
          }
          &.is-active {
            color: @bg_color_front;
            border-bottom-color: @bg_color_front;
            background-color: @bg_color_background_safe;
          }
          &:hover {
            background-color: @bg_color_background_highlight;
          }
        }
      }
    }
    .assistant-buttons {
      position: absolute;
      top: 0;
      right: 0;
      height: @height_header;
      line-height: @height_header;
      padding-right: 15px;
      .el-button--text {
        color: @bg_color_front;
      }
    }
  }

  .luckystarry-ui-aside {
    > .el-menu {
      height: 100%;
    }
  }

  .luckystarry-ui-main {
    .breadcrumb-panel {
      margin-bottom: 1em;
    }
  }
}
